@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Kanit:wght@300&family=Montserrat&family=Nunito&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Nunito", sans-serif !important;
    overflow: overlay;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
    opacity: 0.8;
  }

  ::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #003366;
  }
}

@layer components {
  .customContainer {
    @apply xs:px-[4rem] mx-auto w-full xxs:px-[2rem] sm:px-[3rem] lg:px-[4rem];
  }
  .customFooterContainer {
    @apply px-[4rem] mx-auto;
  }
  .bg-waves {
    background-image: url("../assets/Background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

/* section {
  padding-top: 200px;
} */

.ImageScroll__wrapper {
  /* padding-bottom: 50px; */
  width: 100vw;
  height: 15rem;
  overflow: hidden;
}

.ImageScroll__image {
  height: 100%;
  width: 200%;
  /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg); */
  /* background-repeat: repeat-x; */
  transform: translate3d(0, 0, 0);
}
